body {
    background: #4db39c;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li {
    background: #73cda7;
    color: white;
    border: none;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}

.finished {
    cursor: pointer;
}

.complete span {
    text-decoration: line-through !important;
}